
.header {
    background-color: #ffccff;
    height: 200px;
  }

  .header-logo {
    text-align: center;
    font-size: 36px;
    padding: 40px 40px;
  }

body{
    background-color: #ffccff;
}
.contents{
    text-align: center;
    font-size: 18px;
}
.month-select {
        /* デフォルトのスタイルを解除*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
        /* スタイル指定*/
    display: inline-block;
    width: 5%; /* 幅 */
    margin: 1em 0; /* 前後の余白 */
    padding: 0.5em; /* 文字周りの余白 */
    cursor: pointer; /* カーソルを指に */
    line-height: 3.0em; /* 行高 */
    font-size: 1.0em; /* フォントサイズ */
    font-weight: 700; /* 太字に */
    color: #333; /* 文字色 */
    border-radius: 4px; /* 角丸 */
    background-color: #f7f9fb; /* 背景色 */
    /* border: solid 1px #fc00d2; /* 枠線 */
    box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15); /* 影 */
    /* 三角マークを作る */
    background-image: linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.4) 50%),  linear-gradient(135deg, rgba(0,0,0,0.4) 50%, transparent 50%);
    background-size: 5px 5px, 5px 5px;
    background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
    background-repeat: no-repeat;
  }

  .day-select {
    /* デフォルトのスタイルを解除*/
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    /* スタイル指定*/
    display: inline-block;
    width: 5%; /* 幅 */
    margin: 1.0em 0em 1.0em 1.0em; /* 前後の余白 */
    padding: 0.5em; /* 文字周りの余白 */
    cursor: pointer; /* カーソルを指に */
    line-height: 3.0em; /* 行高 */
    font-size: 1.0em; /* フォントサイズ */
    font-weight: 700; /* 太字に */
    color: #333; /* 文字色 */
    border-radius: 4px; /* 角丸 */
    background-color: #f7f9fb; /* 背景色 */
    /* border: solid 1px #fc00d2; 枠線 */
    box-shadow: 0 3px 3px -2px rgba(3, 29, 41, 0.15); /* 影 */
    /* 三角マークを作る */
    background-image: linear-gradient(45deg, transparent 50%, rgba(0,0,0,0.4) 50%),  linear-gradient(135deg, rgba(0,0,0,0.4) 50%, transparent 50%);
    background-size: 5px 5px, 5px 5px;
    background-position: calc(100% - 15px) 50%, calc(100% - 10px) 50%;
    background-repeat: no-repeat;
}
.setsumei p{
    font-size: 32px;
}

.submit{
    color: #333; /* 文字色 */
    border-radius: 4px; /* 角丸 */
    /* border: solid 1px #fc00d2; /* 枠線 */
    cursor: pointer;
}
